<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "View Profile", current_user %>
</span>
<br />
<span>
  <%= link_to "Create New Blog Post", newblogpost_path %>
</span>
<span>
  <%= link_to "Add An Artist", newartist_path %>
</span>
<span>
  <%= link_to "Add A Release", newalbum_path %>
</span>
<span>
  <%= link_to "Add A Song", newsong_path %>
</span>